{% extends "base.html" %}

{% block main_content %}
<section>
    <h1>Modify Profile</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag () }} 
        {{ form.user_id.label }} 
        {{ form.user_id() }}
        {% for error in form.user_id.errors %}
            {{ error }} 
        {% endfor %} 
        <br />
        {{ form.password.label }} 
        {{ form.password () }}
        {% for error in form.password.errors %}
            {{ error }} 
        {% endfor %} 
        <br />
        {{ form.password2.label }} 
        {{ form.password2() }}
        {% for error in form.password2.errors %}
            {{ error }} 
        {% endfor %} 
        <br />
        {{ form.country.label }}
        {{ form.country()}}
        <br/>  
        {{ form.address.label }}
        {{ form.address()}}
        {% for error in form.address.errors %}
            {{ error }} 
        {% endfor %}         
        <br/>  
        {{ form.submit() }} 
    </form>
</section>
{% endblock %}